*{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  font-family: "Poppins",sans-serif;
color: #444;
background-color: white;
height: 100vh;
padding: 2rem;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}